.preloader {
  position: absolute;
  top: $site-header-height;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - $site-header-height);
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 20vw;
  }
}
