.header {
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.container {
  height: $site-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.logo {
  display: flex;
  margin-right: 42px;
  position: relative;

  &-svg {
    width: 128px !important;
    height: 42px !important;
  }
}

.new-document-svg {
  width: 20px !important;
  height: 20px !important;
  margin-right: 4px;
}

.title {
  font-size: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  color: #424242;
  display: flex;
  align-items: center;
}

.link {
  fill: $black;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  color: #424242;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding: 8px 8px 8px 8px;

  &:hover {
    text-decoration: none;
    color: $lightblue;
    fill: $lightblue;
    border-color: $lightblue;
  }
}
