%container {
  padding-right: $main-container-padding;
  padding-left: $main-container-padding;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: $site-container-max-width;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
