// Container
$site-min-width: 1262px;
$site-container-max-width: 1190px;
$main-container-padding: 24px;

// Header
$site-header-height: 64px;

// Navigation
$site-navigation-width: 72px;
$site-navigation-logo-height: $site-header-height;
$site-navigation-link-size: 64px;

// Z-index
$site-navigation-dropdown: 100;

// Brand colors
$black: #16191e;
$blackLight: #22282e;
$red: #e3585e;
$gold: #ca9729;
$blue: #2574a9;
$green: #9cbf63;
$lightblue: #2b85c2;
