.sentence-entry {
  background-color: $lightgrey;
  width: 100%;
  display: block;
  text-decoration: none;
  color: $black;
  padding: 8px;
  margin-bottom: 8px;

  &:hover {
    text-decoration: none;
    background-color: $lightblue;
    color: #ffffff;
    cursor: pointer;
  }

  &-selected {
    background-color: #ffd552;
    &:hover {
      background-color: #44c22b;
    }
  }
}

span {
  min-width: 32px;
}
